<!-- FOOTER -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mx-lg-auto col-md-8 col-10">
                <h1 class="text-white" data-aos="fade-up" data-aos-delay="100">Let's Work Together</h1>
            </div>

            <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
                <h4 class="my-4">Contact Info</h4>
                <p class="mb-1">
                    <i class="fa fa-phone mr-2 footer-icon"></i>
                    +1 586 506 1223
                </p>
                <p>
                    <a href="mailto:viktorciroski@gmail.com">
                        <i class="fa fa-envelope mr-2 footer-icon"></i>
                        viktorciroski@gmail.com
                    </a>
                </p>
            </div>

            <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="300">
                <h4 class="my-4">Located</h4>
                <p class="mb-1">
                    <i class="fa fa-home mr-2 footer-icon"></i>
                    Ann Arbor, MI, USA
                </p>
            </div>

            <div class="col-lg-4 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="500">
                <ul class="social-icon">
                    <li><a href="https://scholar.google.com/citations?hl=en&view_op=list_works&gmla=AJsN-F7m5AjZRDHU_mVlLxByU-IL-WVMjFY_BFYCDxG1fLUQXhKE9-QjGHf-G5S7SH3t6XeTiUXVIWgUAiQqfVsnz_zsbJYGcQ&user=tNnoYf8AAAAJ"
                            class="fa fa-google"></a></li>
                    <li><a href="https://www.linkedin.com/in/viktor-ciroski/" class="fa fa-linkedin-square"></a></li>
                    <li><a href="https://medium.com/@viktorciroski" class="fa fa-medium"></a></li>
                    <li><a href="https://github.com/viktor1223" class="fa fa-github"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>