<!-- MENU BAR -->
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <i class="fa fa-brain"></i>
            Viktor Ciroski
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="index.html#about" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="index.html#expertise" class="nav-link">Expertise</a>
                </li>
                <li class="nav-item">
                    <a href="portfolio.html" class="nav-link">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a href="index.html#publications" class="nav-link">Publications</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.linkedin.com/in/viktor-ciroski/" target="_blank" rel="noopener noreferrer"
                        class="nav-link contact"
                        onclick="window.location.href='https://www.linkedin.com/in/viktor-ciroski/'; return false;">Connect
                        <i class="fa fa-linkedin-square ml-1"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>